In [1]:
import pandas as pd #For reading data from files into table
import numpy as np #For computing maths on data columns
from matplotlib import pyplot as plt #For plotting basic graphs. Also provides indepth framework for seaborn
import seaborn as sns #For plotting visually asthetic graphs. Works in tandem with matplotlib's pyplot

# Gather

For this project we would be considering the Kaggle dataset on beers and breweries they originate from.  
<TBD>

In [2]:
ls

Untitled.ipynb  beers.csv       breweries.csv

In [6]:
df_beer = pd.read_csv('beers.csv')
df_breweries = pd.read_csv('breweries.csv')

In [4]:
df_beer.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [7]:
df_breweries.head()

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [8]:
df_beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   abv         2348 non-null   float64
 2   ibu         1405 non-null   float64
 3   id          2410 non-null   int64
 4   name        2410 non-null   object
 5   style       2405 non-null   object
 6   brewery_id  2410 non-null   int64
 7   ounces      2410 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 150.8+ KB